name: PR Build

on:
  pull_request:
    branches:
      - main

env:
  BAL_VERSION: 2201.3.1

jobs:
  pr-build-on-dev-central:
    name: Build PR using Dev Central
    runs-on: ubuntu-latest
    steps:  
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Ballerina
        run: |
          BAL_INSTALLER=ballerina-$BAL_VERSION-swan-lake-linux-x64.deb
          wget https://dist.ballerina.io/downloads/$BAL_VERSION/$BAL_INSTALLER
          sudo dpkg -i $BAL_INSTALLER
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Python Dependencies
        run: |
          pip install toml
          pip install semantic-version
          pip install gitpython
          pip install PyGithub
      - name: Build Policies
        env:
          BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BAL_DEV_CENTRAL_TOKEN }}
          BALLERINA_DEV_CENTRAL: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python build.py build

  pr-build-on-stage-central:
    name: Build PR using Stage Central
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Ballerina
        run: |
          BAL_INSTALLER=ballerina-$BAL_VERSION-swan-lake-linux-x64.deb
          wget https://dist.ballerina.io/downloads/$BAL_VERSION/$BAL_INSTALLER
          sudo dpkg -i $BAL_INSTALLER
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Python Dependencies
        run: |
          pip install toml
          pip install semantic-version
          pip install gitpython
          pip install PyGithub
      - name: Build Policies
        env:
          BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BAL_STAGING_CENTRAL_TOKEN }}
          BALLERINA_STAGE_CENTRAL: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python build.py build
  
  pr-build-on-prod-central:
    name: Build PR using Prod Central
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Ballerina
        run: |
          BAL_INSTALLER=ballerina-$BAL_VERSION-swan-lake-linux-x64.deb
          wget https://dist.ballerina.io/downloads/$BAL_VERSION/$BAL_INSTALLER
          sudo dpkg -i $BAL_INSTALLER
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Python Dependencies
        run: |
          pip install toml
          pip install semantic-version
          pip install gitpython
          pip install PyGithub
      - name: Build Policies
        env:
          BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BAL_PROD_CENTRAL_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python build.py build
