name: Release Candidate Build

on:
  workflow_dispatch:
    
permissions: write-all

env:
  BAL_VERSION: 2201.2.3

jobs:
  rc-build-on-dev-central:
    name: Build RC using Dev Central
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Ballerina
        run: |
          BAL_INSTALLER=ballerina-$BAL_VERSION-swan-lake-linux-x64.deb
          wget https://dist.ballerina.io/downloads/$BAL_VERSION/$BAL_INSTALLER
          sudo dpkg -i $BAL_INSTALLER
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Python Dependencies
        run: |
          pip install toml
          pip install semantic-version
          pip install gitpython
          pip install PyGithub
      - name: Build Policies
        env:
          BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BAL_DEV_CENTRAL_TOKEN }}
          BALLERINA_DEV_CENTRAL: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python build.py release

  rc-build-on-stage-central:
    name: Build RC using Stage Central
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Ballerina
        run: |
          BAL_INSTALLER=ballerina-$BAL_VERSION-swan-lake-linux-x64.deb
          wget https://dist.ballerina.io/downloads/$BAL_VERSION/$BAL_INSTALLER
          sudo dpkg -i $BAL_INSTALLER
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Python Dependencies
        run: |
          pip install toml
          pip install semantic-version
          pip install gitpython
          pip install PyGithub
      - name: Build Policies
        env:
          BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BAL_STAGING_CENTRAL_TOKEN }}
          BALLERINA_STAGE_CENTRAL: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python build.py release

  rc-build-on-prod-central:
    name: Build RC using Prod Central
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Ballerina
        run: |
          BAL_INSTALLER=ballerina-$BAL_VERSION-swan-lake-linux-x64.deb
          wget https://dist.ballerina.io/downloads/$BAL_VERSION/$BAL_INSTALLER
          sudo dpkg -i $BAL_INSTALLER
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Python Dependencies
        run: |
          pip install toml
          pip install semantic-version
          pip install gitpython
          pip install PyGithub
      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout -b release-$(git show --pretty=%H HEAD --no-patch)
      - name: Build Policies
        env:
          BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BAL_PROD_CENTRAL_TOKEN }}
          BALLERINA_PROD_CENTRAL: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python build.py release
